/* Colors */
:root {
  --background: #ffffff;
  --background-tint: rgba(0, 0, 0, 0.1);
  --foreground: #111111;
  --primary: #74ac4d;
  --primary-foreground: #ffffff;
  --secondary: #e5e5e5;
  --destructive: #b11441;
  --input: #f5f5f5;
  --border: #e5e5e5;
  --ring: #000fe2;
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --background-tint: rgba(255, 255, 255, 0.1);
    --foreground: #fafafa;
    --primary: #74ac4d;
    --secondary: #222222;
    --destructive: #b11441;
    --input: #111111;
    --border: #27272a;
    --ring: #000fe2;
  }
}

/* Typography */
:root {
  --font-family: -apple-system-medium, -apple-system, BlinkMacSystemFont,
    avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu,
    roboto, noto, arial, sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-s: 12px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
}

/* Body */
body {
  font-size: var(--font-size-m);
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--foreground);
  line-height: 1.2;
  font-weight: var(--font-weight-regular);
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  padding: 0;
}

/* Reset & Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
