.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: var(--radius);
  font-size: 12px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  height: 36px;
  padding: 0 12px;
  transition: all 0.2s;
  cursor: pointer;
  outline: none;
  background-color: var(--secondary);
  color: var(--foreground);
  border: none;
  -webkit-app-region: no-drag;
  color: var(--primary);
}

.button:focus-visible {
  box-shadow: 0 0 0 2px var(--ring);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  transform: translateY(1px);
}

.button.primary {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.button.tertiary {
  background-color: transparent;
  color: var(--primary);
}

.button.tertiary:hover {
  background-color: var(--secondary);
  opacity: 1;
}

.iconOnly {
  background-color: transparent;
  padding: 0;
  width: 36px;
  color: var(--foreground);
}

.iconOnly:hover {
  background-color: var(--secondary);
  opacity: 1;
}

/* Toggle button styles */
.toggle {
  position: relative;
}

.toggle.active {
  opacity: 1;
}

.toggle.active:hover {
  opacity: 1;
  background-color: var(--primary);
}

.icon {
  display: inline-flex;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
